In [1]:
%matplotlib inline
from preamble import *

In [2]:
bj=pd.read_csv("data/FiveCitiePMData/BeijingPM20100101_20151231.csv")

In [3]:
bj.head()

   No  year  month  day  ...    cbwd    Iws  precipitation  Iprec
0   1  2010      1    1  ...      NW   1.79            0.0    0.0
1   2  2010      1    1  ...      NW   4.92            0.0    0.0
2   3  2010      1    1  ...      NW   6.71            0.0    0.0
3   4  2010      1    1  ...      NW   9.84            0.0    0.0
4   5  2010      1    1  ...      NW  12.97            0.0    0.0

[5 rows x 18 columns]

In [ ]:
X=
y=

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

X, y = mglearn.datasets.make_wave(n_samples=60)
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

lr = LinearRegression().fit(X_train, y_train)
lr.score